@font-face {
    font-family: "Merriweather";
    src:url("/Fonts/Merriweather-Black.ttf");
}

body {
  margin: 0;
  font-family: "Merriweather";
}
#Header {
  background-color: rgb(0,150,200);
  color: rgb(240,240,240);
  text-align: center;
}
#base {
  display: flex;
  background-color: #BBB;
  background-image: url(image/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
}

#left_menu .button {
  background-color: #DDD;
  cursor: pointer;

  border-left: 2px solid #555;
  border-right: 2px solid #555;

  border-color: #555;
  color: #888;
  padding: 40px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  min-height: 80px;
  max-width: 376px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transition: all 0.3s ease-in-out;
}

#left_menu .button p {
  display: flex;
}

#left_menu .button text {
  margin-right: 50px;
}

#left_menu .button img {
  max-width: 35px;
  vertical-align: middle;
  margin: auto 2px auto auto;
}

#left_menu .separator {
  margin: 0;
  width: 100%;
  color: #888;
  border-left: none;
  border-right: none;
}

#left_menu .button:hover{
  background-color: #777 !important;
  color: #EEE !important;
}

#left_menu {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

#left_menu .button:active{
  transition: all 0.0s ease-in-out;
  box-shadow: inset 0 0 20px #444;
}

.button > * {
  pointer-events: none;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 */
#menuToggle
{
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#left_menu
{
  position: relative;
  width: 300px;
  margin: 0 0 0 0px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
/*
 * And let's slide it in from the left
 */
#openMenu:checked + #menuToggle #left_menu
{
  transform: none;
}


#openMenu
{
  position: fixed;
  top: -100px;
  left: -100px;

  opacity: 0;
  z-index: -1;
}

#menuToggle #Hamburger_icon {
  position: absolute;
  float: left;
  width: 40px;
  height: 40px;

  top: 0px;
  left:0px;
  background-size: cover;
  z-index: 2;

  transform-origin: 0% 0%;
  transform: translate(0, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#openMenu:checked + #menuToggle #Hamburger_icon
{
  transform: translate(250px, 0);
}


#content {
  position: relative;
  margin: 50px auto 0px 25%;
  padding: 10px 10px 10px 10px;
  top: 0;
  left: -300px;
  text-align: center;
  max-width: 1000px;
  max-height: 700px;
  width: 700px;
  border: 2px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #333;
  background-color: #EEE;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: translate(0, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#openMenu:checked ~ #content
{
  transform: translate(250px, 0);
}

#content.widthTransitionUp {
  transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
