@font-face {
    font-family: "Merriweather";
    src:url("/Fonts/Merriweather-Black.ttf");
}

body {
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  min-height: 100vh;
  background-image: url(image/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
}

#Header {
  background-image: linear-gradient(to bottom right,#1047A9, #4287f5);
  color: #FFFFFF;
  text-align: center;
  height: 25px;
  width: 100vw;
  z-index: 10;
}

#base {
  display: flex;
}

#left_menu .button {
  background-color: #DDD;
  cursor: pointer;

  border-left: 2px solid #555;
  border-right: 2px solid #555;

  border-color: #555;
  color: #888;
  padding: 40px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  max-width: 376px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transition: all 0.3s ease-in-out;
}

#left_menu .button p {
  display: flex;
}

#left_menu .button text {
  margin-right: 20px;
}

#left_menu .button img {
  width: 75px;
  height: 75px;
  vertical-align: middle;
  margin: auto 2px auto auto;
}

#left_menu .separator {
  margin: 0;
  width: 100%;
  color: #888;
  border-left: none;
  border-right: none;
}

#left_menu .button:hover{
  background-color: #777 !important;
  color: #EEE !important;
}

#left_menu {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

#left_menu .button:active{
  transition: all 0.0s ease-in-out;
  box-shadow: inset 0 0 20px #444;
}

.button > * {
  pointer-events: none;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 */
#menuToggle
{
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#left_menu
{
  position: relative;
  width: 300px;
  margin: 0 0 0 0px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-200px, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
/*
 * And let's slide it in from the left
 */
#openMenu:checked + #menuToggle #left_menu
{
  transform: none;
}


#openMenu
{
  position: fixed;
  top: -100px;
  left: -100px;

  opacity: 0;
  z-index: -1;
}

#menuToggle #Hamburger_icon {
  position: absolute;
  float: left;
  width: 40px;
  height: 40px;

  top: 0px;
  left:50px;
  background-size: cover;
  z-index: 2;

  transform-origin: 0% 0%;
  transform: translate(0, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#openMenu:checked + #menuToggle #Hamburger_icon
{
  transform: translate(200px, 0);
}


#content {
  position: fixed;
  margin: 50px 20vw 50px 35vw;
  padding: 10px 10px 10px 10px;
  top: 0;
  left: -300px;

  text-align: left;

  min-height: 700px;
  width: 967px;
  max-height: 850px;
  overflow-y:auto;

  border: 2px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #333;
  background-color: #EEE;
  opacity: 0;

  transform-origin: 0% 0%;
  transform: translate(0, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#openMenu:checked ~ #content
{
  transform: translate(200px, 0);
}

#content.widthTransitionUp {
  transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#profileboard {
  width: 99%;
  height: 99%;
  box-shadow: 0px 0px white;
}

/*
Request creation
*/
form {
  font-size: 20px;
  text-align: left;
}

#device_div {
  text-align: left;
  font-size: 20px;
}

#device_div select {
  width: 100%;
  font-size: 15px;
  margin: 5px 0px 15px 0px;
}

#problems_div {
  text-align: left;
  width: 100%;
  font-size: 20px;
  margin-bottom: 15px;
}

#problems_div select {
  width:100%;
  font-size: 15px;
}

#problem_form {
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
}

#problem_form input, #problem_form textarea {
  width: 100%;
  font-size: 15px;
}

#problem_form textarea {
  margin-top: 15px;
  height: 400px;
  max-width: 100%;
  min-width: 100%;
}

#problem_form button {

    padding: 0px;
    margin: 0px;
    border: 2px solid #888;
    border-collapse: collapse;
    margin-top: 15px;
    height: 50px;
    width: 25%;
    font-size: 20px;
}

#problem_form button:hover {
  background-color: #BBB;
  transition: 0.2s;
}

#solutions_div {
  margin-top: 20px;
}


/*
Request edition
*/
.filler {
  padding-left: 300px;
}

#request_info {
  text-align: left;
}

#device_info {
  text-align: justify;
  margin-bottom: 10px;
}

#problem_info {
  text-align: left;
}

#problem_title {
  width:100%;
  height: 25px;
  font-size: 20px;
}

#problem_info textarea {
  margin-top: 10px;
  max-width: 100%;
  min-width: 100%;
  height: 15vh;
}

#problem_info button {
  padding: 0px;
  margin: 0px;
  border: 2px solid #888;
  border-collapse: collapse;
  margin-top: 15px;
  height: 50px;
  width: 25%;
  font-size: 20px;
}

#problem_info button:hover {
  background-color: #BBB;
  transition: 0.2s;
}

/*
Requests display
*/

.conteneurticket {
  text-align: left;
}

.conteneurticket button {
  padding: 0px;
  margin: 0px;
  border: 2px solid #888;
  border-collapse: collapse;
  margin-top: 15px;
  height: 50px;
  width: 25%;
  font-size: 20px;
}

.conteneurticket button:hover {
  background-color: #BBB;
  transition: 0.2s;
}

/*
Request transfer_request
*/
.specialist_container {
  text-align: left;
}

.specialist_container button {
  padding: 0px;
  margin: 0px;
  border: 2px solid #888;
  border-collapse: collapse;
  margin-top: 15px;
  height: 50px;
  width: 25%;
  font-size: 20px;
}

.specialist_container button:hover {
  background-color: #BBB;
  transition: 0.2s;
}

#chart_quit {
  display: none;
}

#chart_quit button {
  padding: 0px;
  margin: 0px;
  border: 2px solid #888;
  border-collapse: collapse;
  margin-top: 15px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  margin-bottom: 15px;
}

#chart_quit img {
  max-width: 100%;
}

#charts_buttons {
  margin-top: 80px;
}

#charts_buttons button {
  padding: 0px;
  margin: 0px;
  border: 2px solid #888;
  border-collapse: collapse;
  margin-top: 15px;
  height: 50px;
  width: 33%;
  font-size: 20px;
}

#charts_buttons button:hover, #chart_quit button:hover {
  background-color: #BBB;
  transition: 0.2s;
}

/*
Charts empty division
*/
#charts {
  height: 540px;
  width: 100%;
  display: block;
}

/*
Operator selection
*/

#selector {
  width: 100%;
  bottom: 0px;
}

#selector td {
  min-width: 20%;
}

#selector td:last-child {
  width: 100%;
  vertical-align: middle;
}

#time_selector {
  text-align: center;
  vertical-align: center;
  display: none;
}

#time_selector h3 {
  padding: 3px;
  margin: 0px;
}

#period_selector {
  display: none;
  vertical-align: middle;
}

#period_selector img {
  width: 15px;
}

#period_selector button {
  padding: 0px;
  margin: 0px;
  border: 2px solid #888;
  border-collapse: collapse;
  height: 22px;
  width: 45%;
  font-size: 20px;
}

#period_selector button:hover {
  background-color: #BBB;
  transition: 0.2s;
}

#operator_selector {
  display: none;
  vertical-align: middle;
}

#operator_select {
  width: 100%;
  font-size: 15px;
  vertical-align: middle;
}


.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 26px;
}

.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 18px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}
