@font-face {
    font-family: "Merriweather";
    src:url("/Fonts/Merriweather-Black.ttf");
}

body {
  margin: 0;
  font-family: "Merriweather";
}

/*#left_menu {
  display: table;
  align-items: center;
  margin: 0;
  float:left;

}*/
#content {

}
#left_menu .button {
  background-color: #DDD;
  cursor: pointer;

  border-left: 2px solid #888;
  border-right: 2px solid #888;

  border-color: #888;
  color: #888;
  padding: 40px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  min-height: 80px;
  max-width: 376px;
  transition: all 0.3s ease-in-out;
}

#left_menu .button p {
  display: flex;
}

#left_menu .button text {
  margin-right: 50px;
}

#left_menu .button img {
  max-width: 35px;
  vertical-align: middle;
  margin: auto 2px auto auto;
}

#left_menu .separator {
  margin: 0;
  width: 100%;
  color: #888;
  border-left: none;
  border-right: none;
}

#left_menu .button:hover{
  background-color: #777;
  color: #EEE;
}

#left_menu {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

#left_menu .button:active{
  transition: all 0.0s ease-in-out;
  box-shadow: inset 0 0 20px #444;
}

.button > * {
  pointer-events: none;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#left_menu
{
  position: relative;
  width: 300px;
  margin: -100px 0 0 -50px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ #left_menu
{
  transform: none;
}


#menuToggle input
{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50px;
  left:-50px;
  margin: 0;
  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */

  -webkit-touch-callout: none;

  transform-origin: 0% 0%;
  transform: translate(0, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle input:checked {
  transform: translate(250px, 0);
}

#menuToggle #Hamburger_icon {
  position: absolute;
  float: left;
  width: 40px;
  height: 40px;

  top: 50px;
  left:-50px;
  background-size: cover;
  z-index: 2;

  transform-origin: 0% 0%;
  transform: translate(0, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle input:checked ~ #Hamburger_icon
{
  transform: translate(250px, 0);
}
