@font-face {
    font-family: "Merriweather";
    src:url("/Fonts/Merriweather-Black.ttf");
}

body {
  margin: 0;
  font-family: "Merriweather";
}

#left_menu {
  display: table;
  align-items: center;
  margin: 0;
  /*border: 2px solid #888;*/
  float:left;
}

#left_menu .button {
  background-color: #DDD;

  border-left: 2px solid #888;
  border-right: 2px solid #888;

  border-color: #888;
  color: #888;
  padding: 40px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  min-height: 80px;
  max-width: 376px;
  transition: all 0.3s ease-in-out;
}

#left_menu .button p {
  display: flex;
}

#left_menu .button text {
  margin-right: 50px;
}

#left_menu .button img {
  max-width: 35px;
  vertical-align: middle;
  margin: auto 2px auto auto;
}

#left_menu .separator {
  margin: 0;
  width: 100%;
  color: #888;
  border-left: none;
  border-right: none;
}

#left_menu .button:hover{
  background-color: #777;
  color: #EEE;
}

#left_menu {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

#left_menu .button:active{
  transition: all 0.0s ease-in-out;
  box-shadow: inset 0 0 20px #444;
}
